<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509592578403-veeusvqobp4271aqa2qouu5pitog9ukh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509592578403-veeusvqobp4271aqa2qouu5pitog9ukh</string>
	<key>API_KEY</key>
	<string>AIzaSyBPbmL2PRJtlnckYSeC0bpsYAGiXu_ZECI</string>
	<key>GCM_SENDER_ID</key>
	<string>509592578403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.example.app</string>
	<key>PROJECT_ID</key>
	<string>moko-boilerplate</string>
	<key>STORAGE_BUCKET</key>
	<string>moko-boilerplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:509592578403:ios:10993d6867a6f256ffcb56</string>
</dict>
</plist>
